.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  height: 70px;

  .navbar-left {
    flex: 0 0 120px; // Espace fixe pour le logo
    display: flex;
    align-items: center;

    .navbar-logo {
      max-height: 50px;
      height: auto;
    }
  }

  .navbar-middle {
    flex: 1; // Occupe tout l'espace restant
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-links {
      list-style: none;
      display: flex;
      gap: 15px;
      padding: 0;
      margin: 0;

      li {
        a {
          text-decoration: none;
          color: black;
          font-weight: bold;
          padding: 10px;
          display: flex;
          align-items: center;

          &:hover {
            color: #007bff;
          }

          span {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .navbar-right {
    flex: 0 0 120px; // Espace fixe pour les icônes
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .navbar-icons {
      display: flex;
      gap: 10px;

      a {
        display: flex;
        align-items: center;
        cursor: pointer; // Assurer que le curseur change pour indiquer qu'il est cliquable

        img {
          max-height: 24px;
          height: auto;
        }
      }

      .profile-icon img {
        max-height: 30px;
        height: auto;
        cursor: pointer; // S'assurer que l'icône de profil est bien cliquable
      }
    }
  }
}
