<nav class="navbar">
  <div class="navbar-left">
    <img src="https://i.ibb.co/kQgXVNc/Copie-de-Auzi-1.png" alt="Logo" class="navbar-logo">
    <button class="burger-menu" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="navbar-content" [class.open]="isMenuOpen">
    <div class="navbar-middle">
      <ul class="navbar-links">
        <li><a href="#">Looking for <span>&#9662;</span></a></li>
        <li><a href="#">Where <span>&#9662;</span></a></li>
        <li><a href="#">Why <span>&#9662;</span></a></li>
        <li><a href="#">How <span>&#9662;</span></a></li>
      </ul>
    </div>

    <div class="navbar-right">
      <div class="navbar-icons">
        <a href="#" (click)="openPopup(); $event.preventDefault();">
          <img src="https://i.ibb.co/HGRqwXk/image.png" alt="Live-chat">
        </a>
        <a routerLink="/profile" class="profile-icon" (click)="onProfileClick()">
          <img src="https://i.ibb.co/Sx4gCJG/noun-profile-5742890.png" alt="Account">
        </a>
      </div>
    </div>
  </div>
</nav>

<app-chat-popup #chatPopup></app-chat-popup>
