<div class="filter-container">
  <div class="tabs">

    <button class="tab active">
      <span class="fa fa-briefcase"></span>
      <span class="tab-text">Work</span>
    </button>
    <button class="tab disabled">
      <span class="fa fa-passport"></span>
      <span class="tab-text">Visa</span>
      <span class="tab-text">"soon"</span>
    </button>
    <button class="tab">
      <span class="fa fa-map"></span>
      <span class="tab-text">Guide</span>
    </button>
    <button class="tab">
      <span class="fa fa-concierge-bell"></span>
      <span class="tab-text">Our Service</span>
    </button>
  </div>

  <div class="tab-content">
    <h2>Work Overseas</h2>
    <p>The easy way to work & travel all over Australia</p>
    <div class="form">
      <select>
        <option>Experience</option>
      </select>
      <select>
        <option>Destination</option>
      </select>
      <button class="find-trip-btn">Find my trip</button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
