.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  img {
    width: 700px;  /* Set the desired width */
    height: auto;  /* Maintain aspect ratio */
  }
}
