.login-page {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Empêche le défilement */
}

.login-left {
  background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/1169.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  position: relative;
}

.login-logo {
  max-width: 150px;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.login-left h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
}

.login-left p {
  font-size: 1.2rem;
  color: white;
  margin-left: 20px;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centre le formulaire horizontalement */
  padding: 60px;
  background-color: white;
}

.login-right h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-right form {
  width: 100%;
  max-width: 350px; /* Limite la largeur du formulaire */
}

.form-group {
  margin-bottom: 20px;
  position: relative; /* Ensure the label and input are relative to each other */
}

label {
  display: block; /* Ensures the label is displayed above the input */
  margin-bottom: 5px; /* Adds space between label and input */
  color: #666;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.styled-input {
  width: 100%; /* Assure que l'input occupe toute la largeur du formulaire */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.styled-input:focus {
  border-color: #007bff;
  outline: none;
}

.login-btn {
  width: 100%; /* Assure que le bouton occupe toute la largeur du formulaire */
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-right a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-right a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  color: #999;
  position: absolute;
  bottom: 20px;
  width: 100%;
  max-width: 350px; /* Limite la largeur du footer */
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 5px 0;
}
