<div class="login-page">
  <div class="login-left">
    <img src="https://i.ibb.co/kQgXVNc/Copie-de-Auzi-1.png" alt="Logo" class="login-logo">
    <h2>Unlock new opportunities and perspective.</h2>
    <p>Discover & join the best real-world travel experiences.</p>
  </div>
  <div class="login-right">
    <h2>Welcome to Auzi</h2>
    <form (ngSubmit)="connect()">
      <div class="form-group">
        <label for="email">Email address*</label>
        <input [(ngModel)]="email" name="email" id="email" type="email" required autocomplete="username" class="styled-input">
      </div>
      <div class="form-group">
        <label for="password">Password*</label>
        <input [(ngModel)]="password" name="password" id="password" type="password" required autocomplete="current-password" class="styled-input">
      </div>
      <div class="form-group">
        <!-- Link to the Forgot Password page -->
        <a [routerLink]="['/forgot-password']">Forgot password?</a>
      </div>
      <button type="submit" class="login-btn">Continue</button>
    </form>

    <div class="form-group">
      <p>Don't have an account? <a [routerLink]="['/register']">Sign up here</a></p>
    </div>

    <footer>
      <p>© 2024 Auzi Work & Travel Co. <a href="#">Privacy Policy</a> <a href="#">Terms</a> <a href="#">Contact Support</a></p>
    </footer>
  </div>
</div>
