<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="sidebar">
      <div class="user-profile">
      </div>

      <nav class="section-buttons">
        <button
          [class.active]="activeSection === 'profile'"
          routerLink="profile"
          routerLinkActive="active"
          class="nav-button">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </button>
        <button
        [class.active]="activeSection === 'documents'"
        routerLink="documents"
        routerLinkActive="active"
        class="nav-button">
        <i class="fas fa-file"></i>
        <span>Documents</span>
      </button>
        <button
          [class.active]="activeSection === 'settings'"
          routerLink="settings"
          routerLinkActive="active"
          class="nav-button">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </button>
        <button
          [class.active]="activeSection === 'visa'"
          routerLink="visa"
          routerLinkActive="active"
          class="nav-button">
          <i class="fas fa-passport"></i>
          <span>Visa & Immigration</span>
        </button>
        <button
          [class.active]="activeSection === 'preferences'"
          routerLink="preferences"
          routerLinkActive="active"
          class="nav-button">
          <i class="fas fa-sliders-h"></i>
          <span>Preferences</span>
        </button>
        <button
          [class.active]="activeSection === 'subscription'"
          routerLink="subscription"
          routerLinkActive="active"
          class="nav-button">
          <i class="fas fa-credit-card"></i>
          <span>Subscription</span>
        </button>
      </nav>
    </div>

    <div class="main-content">
      <header class="content-header">
        <h1>{{ activeSection | titlecase }}</h1>
      </header>

      <div class="content-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
