<div class="login-page">
  <div class="login-left">
    <img src="https://i.ibb.co/kQgXVNc/Copie-de-Auzi-1.png" alt="Logo" class="login-logo">
    <h2>Reset Your Password</h2>
    <p>Enter your email address and we'll send you a link to reset your password.</p>
  </div>
  <div class="login-right">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="email">Email address*</label>
        <input [(ngModel)]="email" name="email" id="email" type="email" required class="styled-input">
      </div>
      <button type="submit" class="login-btn">Send Reset Link</button>
    </form>
    <div class="login-prompt">
      <p>Remember your password? <a routerLink="/login">Log in</a></p>
    </div>
  </div>
</div>
