@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
       url('/assets/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('/assets/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova', Arial, sans-serif;
}
app-root {
  display: block;
  width: 100%; /* S'assurer que le conteneur occupe toute la largeur */
  margin: 0; /* Supprimer toute marge */
  padding: 0; /* Supprimer tout padding */
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0; /* Supprimer les marges par défaut */
  padding: 0; /* Supprimer les paddings par défaut */
  overflow-x: hidden; /* Empêcher tout débordement horizontal */
}

.home-container {
  width: 100%; /* S'assurer que le conteneur occupe toute la largeur */
  margin: 0; /* Supprimer toute marge */
  padding: 0; /* Supprimer tout padding */
}
.hero-section {
  background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/1169.jpg');
  background-size: cover;
  background-position: center top;
  width: 100%; /* S'assurer qu'elle s'étend sur toute la largeur */
  height: 60vh;
  margin: 0; /* Supprimer toute marge */
  padding: 0; /* Supprimer tout padding */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
